# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP .NET Core service.

version: '3.4'

services:
  hellocodeapi:
    image: hellocodeapi
    build:
      context: .
      dockerfile: HelloCode.Api/Dockerfile
    ports:
      - 5279:5279
